<div class="post_div">
<h1>Posts#index</h1>
</div>
<div class="container flex justify-center mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
    <% @posts.each do |post| %>
      <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
        <img class="w-full" src="https://images2.alphacoders.com/475/thumb-1920-475841.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2"><%= post.title %></div>
          <p class="text-gray-700 text-base">
            <%= post.content %>...
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
        <a href="<%= post_path(post.id) %>" class="cursor-pointer flex justify-center px-6 py-2.5 bg-sky-800
        text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-800	hover:shadow-lg
        focus:bg-sky-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-b-700 active:shadow-lg transition
        duration-150 ease-in-out">Lire la suite</a>

      </div>
  <% end %>
  </div>
</div>



