<h1>New categories</h1>

<%= form_for @categorie do |category| %>

  <div class="block">

<%= category.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  <%= category.text_field :slug, class: "shadow appearance-none border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>

  </div>


<%= category.submit %>

<% end %>